#footer{
    font-size: 15px;
    border-top: 2px solid black;
    background-color: #D0ECE7  ;
    position:fixed;
    bottom: 0%;
    width: 100%;
    
    
}
p{
    text-align: center;
}